<link rel="stylesheet" href="../static/bootstrap.css">
<style>
    body {
        position: relative;
        height: 200px;
        left: 25px;
        top: 15px;
    }
    input[type=email], input[type=password] {
    width: 300px;
    }
</style>
<body>
    <h1>KHL-Lernprogramm</h1>
    <title>Login</title>
    <h2>Login</h2>
    <form action="" method='POST'>
    <p><input type="email" id="Email" name="Email" placeholder="Email"></p>
    <p><input type="password" id="Passwort" name="Passwort" placeholder="Passwort"></p>
    <p>
        <input type="submit" id="Login" name="Login" value="Login"> 
        <a href="/registrieren">Registrieren</a> 
        <a href="/pw-vergessen">Passwort vergessen?</a>
    </p>
    </form>
    <p style="color:green;">{{pw_val}}</p><p style="color:red;">{{login_val}}</p>
</body>