<link rel="stylesheet" href="static/bootstrap.css">
{% block styles %}
    <style>
        input[type=email], input[type=password] {
            width: 300px;
        }
        .X_Button{
            background-color: red;
            Color: white;
        }
        .navbar { 
            margin-bottom: 0;
            position:sticky;
        }
    </style>
{% endblock %}
{% block title %} <title>Title</title> {% endblock %}
{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/home">KHL-Lernprogramm</a>
            </div>
            <ul class="nav navbar-nav">
                <li {% if active_link == 'Home' %} class="active" {% endif %}> <a href="/home">Home</a></li>
                <li {% if active_link == 'Fragen' %} class="active" {% endif %}> <a href="/fragen">Fragen</a></li>
                <li {% if active_link == 'Hinzufügen' %} class="active" {% endif %}> <a href="/hinzufügen">Hinzufügen</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li {% if active_link == 'Usermanagement' %} class="active" {% endif %}> <a href="/admin_auth">Usermanagement</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </nav>
{% endblock %}
{% block vert_navbar %}
    <div class='vert-navbar'>

    </div>
{% endblock %}
{% block content %}
    <div class='content'>
    Content
    </div>
{% endblock %}
