<link rel="stylesheet" href="../static/bootstrap.css">
<style>
    .content {
        position: relative;
        left: 25px;
        top: 5px;
    }
    input[type=email], input[type=password] {
    width: 300px;
    }
</style>

{% block title %} <title>Title</title> {% endblock %}
{% block content %}
    <div class='content'>
        Content
    </div>
{% endblock %}