{% extends "_base.j2" %}
{% set active_link = 'Fragen' %}

{% block title %} <title>Fragen</title> {% endblock %}
{% block navbar %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div class='content'>
    </div>
{% endblock %}
