{% extends "_base.j2" %}
{% block styles %}
    {{ super() }}
    <style>
        body{
            overflow:hidden
        }
        .vert_navbar{
            float:left;
            width:25%;
            position: relative;
            top:0;
            bottom:0;
        }
        #btn_addkh, #tf_addkh{
            display:inline;
            padding:0;
            height:30px;
        }
        #tf_addkh{width:80%}
        #btn_addkh{
            width:20%;
            margin-left: -4;
        }
        .vert_navbar ul {
            padding: 0;
            margin-top:-14;
            width: 25%;
            overflow-y: auto;
            position: fixed;
            height:86.5%;
        }
        #btn_kh, .kh_checkbox_label {
            border-style:solid;
            border-color: lightgreen;
            border-width: 1px;
            width:100%;
            margin:0;
            padding:7;
            text-align:left;
        }
        #cbx_kh{
            float:right;
        }
        #btn_kh:hover, .kh_checkbox_label:hover, #btn_schema:hover{
            background-color:lightgreen;
        }
        .kh_active{
            background-color:lightgreen
        }
        .content{
            position: relative;
            width: 75%;
            float: right;
        }
        table {
            width: 100%;
            margin:0;
        }
        #btn_schema{
            width:100%;
            height:100%;
        }
        .schema_active{
            background-color:lightgreen
        }
        #btn_add {
            margin-left:-4;
        }
        .schemacontent ul {
            height:76.5%;
            overflow:hidden; 
            overflow-y:scroll;
        }
        
    </style>
{% endblock %}
{% set active_link = 'Hinzufügen' %}
{% block title %} <title>Hinzufügen</title> {% endblock %}
{% block navbar %}
    {{ super() }}
{% endblock %}
{% block vert_navbar %}
    <div class='vert_navbar'>
        <form action="?" method='POST'>
            <input type="text" id="tf_addkh" name="Krankheit_name" placeholder="Neue Krankheit:" autocomplete="off">
            <button type="submit" name= "Btn_add_Krankheit" id="btn_addkh">einfügen</button>
        </form>
        <form action="?" method='POST'>
            <ul>
                {% for krankheit in krankheiten %}
                    {% if not uok_Addkhmode %}
                        <li>
                            <button {% if active_krankheit == krankheit %} class="kh_active" {% endif %} type="submit" name="Btn_Krankheit" value="{{ krankheit }}" id="btn_kh">{{ krankheit }}</button>
                        </li>
                    {% endif %}
                    {% if uok_Addkhmode %}
                        <li>
                            <label class='kh_checkbox_label'>
                                {{ krankheit }}<input type="checkbox" name="checkbox_Krankheit" value="{{ krankheit }}" id="cbx_kh">
                            </label>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
    </div>
{% endblock %}
{% block content %}
    <div class='content'>
            <table>
                <tr>
                    <th><button {% if active_schema == 'Ursachen' %} class="schema_active" {% endif %} type="submit" name="Btn_Kh_schema" value="Ursachen" id="btn_schema">Ursachen</button></th>
                    <th><button {% if active_schema == 'Symptome' %} class="schema_active" {% endif %} type="submit" name="Btn_Kh_schema" value="Symptome" id="btn_schema">Symptome</button></th>
                    <th><button {% if active_schema == 'Komplikationen' %} class="schema_active" {% endif %} type="submit" name="Btn_Kh_schema" value="Komplikationen" id="btn_schema">Komplikationen</button></th>
                    <th><button {% if active_schema == 'Diagnostiken' %} class="schema_active" {% endif %} type="submit" name="Btn_Kh_schema" value="Diagnostiken" id="btn_schema">Diagnostiken</button></th>
                    <th><button {% if active_schema == 'Therapien' %} class="schema_active" {% endif %} type="submit" name="Btn_Kh_schema" value="Therapien" id="btn_schema">Therapien</button></th>
                </tr>
            </table>
            <p>{{ message }}</p>
            {% if active_krankheit %} 
                <h4> {{active_krankheit}} </h4> 
                <input type="hidden" name="Btn_Krankheit" value="{{active_krankheit}}">
            {% endif %}
            {% if active_schema %}
                <input type="text" name="kh_newcontent" placeholder="Neue {{ active_schema }}" autocomplete="off" autofocus id="tf_add">
                <input type="submit" name="kh_addcontent" id="btn_add" value="hinzufügen">
                <input type="hidden" name="Btn_Kh_schema" value="{{active_schema}}">
                {% if active_schema == 'Ursachen' or active_schema == 'Komplikationen' %}
                    <input type="submit" {% if uok_Addkhmode %} name="uok_Addkh" {% else %} name="uok_Addkhmode" {% endif %} value="Krankheit hinzufügen" id="btn_uok_joinkh">
                {% endif %}
            {% endif %}
            <div class = 'schemacontent'>
                <ul>
                    {% for element in schemacontent %}
                        <li> {{element}} </li>
                    {% endfor %}
                </ul>
            </div>
        </form>
    </div>
{% endblock %}