{% extends "_base.j2" %}

{% block title %} <title>Hinzufügen</title> {% endblock %}
{% block navbar %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div class='content'>
        Content
    </div>
{% endblock %}