{% extends "_base.j2" %}
{% set active_link = 'Home' %}

{% block title %} <title>Home</title> {% endblock %}
{% block navbar %}
  {{ super() }}
{% endblock %}
{% block content %}
    <div class='content'>
    </div>
{% endblock %}