{% extends "_base_navbar.j2" %}

{% block title %} <title>Home</title> {% endblock %}
{% block navbar %}
  {{ super() }}
{% endblock %}
{% block content %}
    <div class='content'>
        test
    </div>
{% endblock %}