<link rel="stylesheet" href="../static/bootstrap.css">
<body>
  <title>Home</title>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/index">KHL-Lernprogramm</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/index">Home</a></li>
        <li><a href="/lernen">Lernen</a></li>
        <li><a href="/prüfen">Prüfen</a></li>
        <li><a href="/hinzufügen">Hinzufügen</a></li>
      </ul>
    </div>
  </nav>
  {% if accountstatus=='Owner': %}
    <a href="/registrieren">Jemanden registrieren</a>
  {% endif %} 
</body> 