<link rel="stylesheet" href="../static/bootstrap.css">
<title>Prüfen</title>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/index">KHL-Lernprogramm</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/index">Home</a></li>
      <li><a href="/lernen">Lernen</a></li>
      <li class="active"><a href="/prüfen">Prüfen</a></li>
      <li><a href="/hinzufügen">Hinzufügen</a></li>
    </ul>
  </div>
</nav>