{% extends "_base.j2" %}
{% block styles %}
    {{ super() }}
    <style>
        #btn_addkh, #tf_addkh{
            display:inline;
            padding:0;
            height:30px;
        }
        #tf_addkh{width:80%}
        #btn_addkh{
            width:20%;
            margin-left: -4;
        }
        .kh_active{
            background-color:lightgreen
        }
        table {
            width: 100%;
            margin:0;
        }
        #btn_schema{
            width:100%;
            height:100%;
        }
        .schema_active{
            background-color:lightgreen
        }
        #btn_add {
            margin-left:-4;
        }
        .schemacontent ul {
            height:72%;
            overflow:hidden; 
            overflow-y:scroll;
        }
        .schemacontent li{
            border-bottom: 1px solid #ddd;
            height:30;
        }
        #btn_del{
            float:right;

        }
        #btn_contentchange{
            float:right;
        }
        .schemacontent input[type=text]{
            width: initial;
        }
    </style>
{% endblock %}
{% set active_link = 'Stoff' %}
{% block title %} <title>Stoff</title> {% endblock %}
{% block navbar %}
    {{ super() }}
{% endblock %}
{% block vert_navbar %}
    <div class='vert_navbar'>
        <form action='/hinzufügen_Krankheit' method='POST'>
            <input type="text" id="tf_addkh" name="Krankheit_name" placeholder="Neue Krankheit:" autocomplete="off">
            <button type="submit" name= "Btn_add_Krankheit" id="btn_addkh">einfügen</button>
        </form>
        {% if not mode %}
            <form method='POST'>
                <ul class="btn_kh">
                    {% for krankheit in krankheiten %}
                        <li>
                            <button {% if active_krankheit == krankheit %} class="kh_active" {% endif %} type="submit" name="active_krankheit" value="{{ krankheit }}" id="btn_kh">{{ krankheit }}</button>
                        </li>
                    {% endfor %}
                </ul>
            </form>
        {% elif mode=='uok_Addkhmode' %}
            <form action="hinzufügen_{{active_schema}}" method='POST'>
                <ul class="cbx_kh">
                    {% for krankheit in krankheiten %}
                        <li>
                            <label class='kh_checkbox_label'>
                                {{ krankheit }}<input type="checkbox" name="checkbox_Krankheit" value="{{ krankheit }}" id="cbx_kh">
                            </label>
                        </li>
                    {% endfor %}
                </ul>
                <input type="hidden" name="active_krankheit" value="{{active_krankheit}}">
                <input type="submit" name="uok_Addkh" value="Krankheit hinzufügen" id="btn_kh_cbxsubmit">
            </form>
        {% endif %}
    </div>
{% endblock %}
{% block content %}
    <div class='content'>
        <form method='POST'>
            <table>
                <tr>
                    <th><button {% if active_schema == 'Ursachen' %} class="schema_active" {% endif %} type="submit" name="active_schema" value="Ursachen" id="btn_schema">Ursachen</button></th>
                    <th><button {% if active_schema == 'Symptome' %} class="schema_active" {% endif %} type="submit" name="active_schema" value="Symptome" id="btn_schema">Symptome</button></th>
                    <th><button {% if active_schema == 'Komplikationen' %} class="schema_active" {% endif %} type="submit" name="active_schema" value="Komplikationen" id="btn_schema">Komplikationen</button></th>
                    <th><button {% if active_schema == 'Diagnostiken' %} class="schema_active" {% endif %} type="submit" name="active_schema" value="Diagnostiken" id="btn_schema">Diagnostiken</button></th>
                    <th><button {% if active_schema == 'Therapien' %} class="schema_active" {% endif %} type="submit" name="active_schema" value="Therapien" id="btn_schema">Therapien</button></th>
                </tr>
            </table>
            <input type="hidden" name="active_krankheit" value="{{active_krankheit}}">
        </form>
        {% if active_krankheit %}
            {% if not active_schema %} 
                <h4> {{active_krankheit}} </h4> 
                <form method='POST'>
                    {{ element }}
                    <button type='submit' name='löschen' value='{{ active_krankheit }}' id='btn_del'>🗑️</button>
                    <button type = 'submit' name='ändern' value='{{ active_krankheit }}' id='btn_contentchange'>🖊️</button>
                </form>
            {% elif active_schema %}
                <form action="hinzufügen_{{active_schema}}" method='POST'>
                    <input type="text" name="kh_new{{active_schema}}" placeholder="Neue {{ active_schema }}" autocomplete="off" autofocus id="tf_add">
                    <input type="submit" name="kh_add{{active_schema}}" id="btn_add" value="hinzufügen">
                    <input type="hidden" name="active_krankheit" value="{{active_krankheit}}">
                    <input type="hidden" name="active_schema" value="{{active_schema}}">
                
                    {% if active_schema == 'Ursachen' or active_schema == 'Komplikationen' %}
                        <button type="submit" name="mode" value="uok_Addkhmode" id="btn_uok_joinkh">
                            {% if mode == 'uok_Addkhmode' %}Abbruch{% else %}Krankheit zu {{active_schema}} hinzufügen{% endif %}
                        </button>
                    {% endif %}
                </form>
            {% endif %}
        {% else %}
            <p><--Erst Krankheit auswählen</p>
        {% endif %}
        <div class = 'schemacontent'>
                <ul>
                    {% for element in schemacontent %}
                        <li>
                            {% if element2change==element %}
                                <form action='/ändern_{{ active_schema }}' method='POST'>
                                    <input type='text' name='elemupdate' value='{{ element }}'>
                                    <input type='submit' name='abbruch' value=Abbruch>
                                    <input type='submit' name='ch_alle' value='Alle'>
                                    <input type='submit' name='ch_nurdieses' value='Nur dieses Element'>
                                    <input type="hidden" name="active_krankheit" value="{{active_krankheit}}">
                                    <input type="hidden" name="active_schema" value="{{active_schema}}">
                                    <input type="hidden" name="content" value="{{ element2change }}">
                                </form>
                            {% elif element2delete==element %}
                                <form action='/löschen_{{ active_schema }}' method='POST'>
                                    {{ element }}
                                    <input type='submit' name='abbruch' value=Abbruch>
                                    <input type='submit' name='del_alle' value='Alle'>
                                    <input type='submit' name='del_nurdieses' value='Nur dieses Element'>
                                    <input type="hidden" name="active_krankheit" value="{{active_krankheit}}">
                                    <input type="hidden" name="active_schema" value="{{active_schema}}">
                                    <input type="hidden" name="content" value="{{ element2delete }}">
                                </form>
                            {% else %}
                                <span>
                                    <form method='POST'>
                                        {{ element }}
                                        <button type='submit' name='löschen' value='{{ element }}' id='btn_del'>🗑️</button>
                                        <button type = 'submit' name='ändern' value='{{ element }}' id='btn_contentchange'>🖊️</button>
                                        <input type="hidden" name="active_krankheit" value="{{active_krankheit}}">
                                        <input type="hidden" name="active_schema" value="{{active_schema}}">
                                    </form>
                                </span>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </form>
        </div>
    </div>      
{% endblock %}