{% extends "_base.j2" %}
{% block styles %}
    {{ super() }}
    <style>
        #btn_addkh, #tf_addkh{
            display:inline;
            padding:0;
            height:30px;
        }
        #tf_addkh{width:74%}
        #btn_addkh{
            width:25%;
            margin-left: -3;
        }
        .kh_active{
            background-color:lightgreen
        }
        table {
            width: 100%;
            margin:0;
        }
        #btn_umstand{
            width:100%;
            height:100%;
        }
        .umstand_active{
            background-color:lightgreen
        }
        #btn_add {
            margin-left:-4;
        }
        .umstandcontent ul{
            height:67%;
            overflow:hidden; 
            overflow-y:scroll;
        }
        .umstandcontent li{
            border-bottom: 1px solid #ddd;
            height:30;
        }
        #btn_del{
            float:right;
        }
        #btn_contentchange{
            float:right;
        }
        .umstandcontent input[type=text]{
            width: initial;
        }
        #krankheit_ändern h3, button{
            display: inline;
        }
        .kh_umstände{
            height:67%;
            overflow:hidden; 
            overflow-y:scroll;
        }
        #searchfield{
            width:90%;
        }
        #searchsubmit{
            width:10%;
        }
        .btns_umstand{
            margin-top:-14;
        }
    </style>
{% endblock %}
{% set active_link = 'Stoff' %}
{% block title %} <title>Stoff</title> {% endblock %}
{% block navbar %}
    {{ super() }}
{% endblock %}
{% block left_navbar %}
    <div class='left_navbar'>
        <form action='/hinzufügen_Krankheit' method='POST'>
            <input type="text" id="tf_addkh" name="Krankheit_name" placeholder="Neue Krankheit:" autocomplete="off">
            <button type="submit" name= "Btn_add_Krankheit" id="btn_addkh">einfügen</button>
        </form>
        {% if mode=='uok_Addkhmode' and (active_umstand=='Ursachen' or active_umstand =='Komplikationen') %}
            <form action="hinzufügen_{{ active_umstand }}" method='POST'>
                <ul class="checkbox_krankheit">
                    {% for krankheit in krankheiten %}
                        <li>
                            <label class='kh_checkbox_label'>
                                {{ krankheit }}<input type="checkbox" name="checkbox_Krankheit" value="{{ krankheit }}" id="cbx_kh">
                            </label>
                        </li>
                    {% endfor %}
                </ul>
                <input type="hidden" name="active_krankheit" value="{{active_krankheit}}">
                <input type="submit" name="uok_Addkh" value="Krankheit hinzufügen" id="btn_kh_cbxsubmit">
            </form>
        {% else %}
            <form method='POST'>
                <ul class="Button_Krankheit">
                    {% for krankheit in krankheiten %}
                        <li>
                            <button {% if active_krankheit == krankheit %} class="kh_active" {% endif %} type="submit" name="active_krankheit" value="{{ krankheit }}" id="btn_kh">{{ krankheit }}</button>
                        </li>
                    {% endfor %}
                </ul>
            </form>
        {% endif %}
    </div>
{% endblock %}
{% block content %}
    <div class='content'>
        <form action='/suche' method='POST'>
            <span>
                <input type='text' name='searchfield' placeholder='Suchfeld:' id='searchfield'><input type='submit' name='searchsubmit' value='Suche' id='searchsubmit'>
            </span>
        </form>
        <form method='POST'>
            <table class='btns_umstand'>
                <tr>
                    <th><button {% if active_umstand == 'Ursachen' %} class="umstand_active" {% endif %} type="submit" name="active_umstand" value="Ursachen" id="btn_umstand">Ursachen</button></th>
                    <th><button {% if active_umstand == 'Symptome' %} class="umstand_active" {% endif %} type="submit" name="active_umstand" value="Symptome" id="btn_umstand">Symptome</button></th>
                    <th><button {% if active_umstand == 'Komplikationen' %} class="umstand_active" {% endif %} type="submit" name="active_umstand" value="Komplikationen" id="btn_umstand">Komplikationen</button></th>
                    <th><button {% if active_umstand == 'Diagnostiken' %} class="umstand_active" {% endif %} type="submit" name="active_umstand" value="Diagnostiken" id="btn_umstand">Diagnostiken</button></th>
                    <th><button {% if active_umstand == 'Therapien' %} class="umstand_active" {% endif %} type="submit" name="active_umstand" value="Therapien" id="btn_umstand">Therapien</button></th>
                </tr>
            </table>
            <input type="hidden" name="active_krankheit" value="{{active_krankheit}}">
        </form>
        {% if active_krankheit %}
            {% if not active_umstand %} 
                {% if element2change %}
                    <form action='/ändern_Krankheit' method='POST'>
                        <input type='text' name='elemupdate' value='{{ element2change }}' autocomplete="off">
                        <input type='submit' name='abbruch' value=Abbruch>
                        <input type='submit' name='khchange' value='Ändern'>
                        <input type="hidden" name="active_krankheit" value="{{active_krankheit}}">
                    </form>
                {% elif element2delete %}
                    <form action='/löschen_Krankheit' method='POST'>
                        Sicher?
                        <input type='submit' name='abbruch' value=Abbruch>
                        <input type='submit' name='khdelete' value='Ja'>
                        <input type="hidden" name="active_krankheit" value="{{active_krankheit}}">
                    </form>
                {% else %}
                    <span id='krankheit_ändern'>
                        <form method='POST'>
                            <h3>{{active_krankheit}}</h3>
                            <button type = 'submit' name='ändern' value='{{ active_krankheit }}'>🖊️</button>
                            <button type = 'submit' name='löschen' value='{{ active_krankheit }}'>🗑️</button>
                            <input type="hidden" name="active_krankheit" value="{{ active_krankheit }}">
                        </form>
                    </span>
                    {% for krankheit in krankheitendict %}
                        {% if krankheit.get('Krankheit') == active_krankheit %}
                            <ul class='kh_umstände'>
                                {% for umstand in krankheit.get('Umstände') %}
                                    <li><h5><b>{{umstand}}</b></h5></li>
                                        <ul>
                                            {% for element in krankheit.get('Umstände').get(umstand) %}
                                                <li>{{ element }}</li>
                                            {% endfor %}
                                        </ul>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% else %}
                <form action="hinzufügen_{{active_umstand}}" method='POST'>
                    <input type="hidden" name="active_krankheit" value="{{active_krankheit}}">
                    <input type="hidden" name="active_umstand" value="{{active_umstand}}">
                    {% if not mode %}
                        <input type="text" name="kh_new{{active_umstand}}" placeholder="Neue {{ active_umstand }}" autocomplete="off" autofocus id="tf_add">
                        <input type="submit" name="kh_add{{active_umstand}}" id="btn_add" value="hinzufügen">
                    {% else %}
                        <h4> {{active_krankheit}} </h4> 
                    {% endif %}
                    {% if active_umstand == 'Ursachen' or active_umstand == 'Komplikationen' %}
                        <button type="submit" name="mode" value="uok_Addkhmode" id="btn_uok_joinkh">
                            {% if mode == 'uok_Addkhmode' %}Abbruch{% else %}Krankheit zu {{active_umstand}} hinzufügen{% endif %}
                        </button>
                    {% endif %}
                </form>
            {% endif %}
        {% else %}
            <p><--Erst Krankheit auswählen</p>
        {% endif %}
        {% if active_umstand %}
            <div class = 'umstandcontent'>
                <ul>
                    {% for element in umstandcontent %}
                        <li>
                            {% if element2change==element %}
                                <form action='/ändern_{{ active_umstand }}' method='POST'>
                                    <input type='text' name='elemupdate' value='{{ element }}' autocomplete="off">
                                    <input type='submit' name='abbruch' value=Abbruch>
                                    <input type='submit' name='ch_alle' value='Alle'>
                                    <input type='submit' name='ch_nurdieses' value='Nur dieses Element'>
                                    <input type="hidden" name="active_krankheit" value="{{active_krankheit}}">
                                    <input type="hidden" name="active_umstand" value="{{active_umstand}}">
                                    <input type="hidden" name="content" value="{{ element2change }}">
                                </form>
                            {% elif element2delete==element %}
                                <form action='/löschen_{{ active_umstand }}' method='POST'>
                                    {{ element }}
                                    <input type='submit' name='abbruch' value=Abbruch>
                                    <input type='submit' name='del_alle' value='Alle'>
                                    <input type='submit' name='del_nurdieses' value='Nur dieses Element'>
                                    <input type="hidden" name="active_krankheit" value="{{active_krankheit}}">
                                    <input type="hidden" name="active_umstand" value="{{active_umstand}}">
                                    <input type="hidden" name="content" value="{{ element2delete }}">
                                </form>
                            {% else %}
                                <span>
                                    <form method='POST'>
                                        {{ element }}
                                        <button type='submit' name='löschen' value='{{ element }}' id='btn_del'>🗑️</button>
                                        <button type = 'submit' name='ändern' value='{{ element }}' id='btn_contentchange'>🖊️</button>
                                        <input type="hidden" name="active_krankheit" value="{{active_krankheit}}">
                                        <input type="hidden" name="active_umstand" value="{{active_umstand}}">
                                    </form>
                                </span>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>      
{% endblock %}