<style>
.radio-toolbar input[type="radio"] {
  display: none;
}

.radio-toolbar label {
  background-color: #ddd;
  padding: 4px 11px;
  font-family: Arial;
  font-size: 16px;
  cursor: pointer;
}
.radio-toolbar input[type="radio"]:checked+label {
  background-color: #bbb;
}
</style>
<div class="radio-toolbar">
{% for i in range(5) %}
  <input type="radio" id="radio1" name="radios" value="all">
  <label for="radio1">radio {{i}}</label>
{% endfor %}
</div>