{% extends "_base_navbar.j2" %}

{% block title %} <title>Usermanagement</title> {% endblock %}
{% block navbar %}
  {{ super() }}
{% endblock %}
{% block content %}
  <div class='content'>
    <form action="/usermanagement" method='POST'>
      <table>
        <tr>
          <th>ID</th>
          <th>Email</th>
          <th>Roles</th>
          <th>Löschen</th>
        </tr>
        {% for user in users %}
          <tr>
            <td>{{ user['ID'] }}</td>
            <td>{{ user['Email'] }}</td>
            <td>{{ user['Roles'] }}</td> 
            <td><button type="submit" class='X_Button' name= "Button_del" value={{ user['ID'] }}>X</button></td>
          </tr>
        {% endfor %}
      </table>
      <p><a href="/registrieren">User Registrieren</a></p>
    </form>
  </div>
{% endblock %}